데이터 마이닝

In [1]:
context = "C:/ezen_tensorflow/seoul_cctv/seoul_cctv/"

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import  train_test_split

In [3]:
titanic_df = pd.read_csv(context + "train.csv")

In [4]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 데이터 프로세싱
###### 파이썬으로 함수정의

In [6]:
def preprocess_titanic_df(df):
    preprocess_df = df.copy()
    le = preprocessing.LabelEncoder()
    preprocess_df = le.fit_transform(preprocess_df.Sex)
    preprocess_df = Embarked = le.fit_transform(preprocess_df.Embarked)
    preprocess_df = preprocess_df.drop(['PassengerId', 'Name', 'Ticket'], axis=1)
    return preprocess_df

#### 데이터 전처리

In [10]:
titanic_df['Survived'].mean()
titanic_df.groupby('Pclass').mean()
class_sex_grouping = titanic_df.groupby(['Pclass','Sex']).mean()
group_by_age = pd.cut(titanic_df['Age', np.arange(0, 90, 10)]) # 0~90세 10년 단위
age_grouping =  titanic_df.groupby(group_by_age).mean()

TypeError: unhashable type: 'numpy.ndarray'

In [ ]:
titanic_df.count()
titanic_df = titanic_df.drop(['Cabin'], axis = 1)
titanic_df = titanic_df.dropna() # na 값 tkrwp
titanic_df.count()

In [ ]:
preprocess_df = preprocess_titanic_df(titanic_df)